<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportsGenerator.Settings.ReporterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReportsGenerator.Settings.GenerationSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReportsGenerator.ReporterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReportsGenerator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReporterGeneration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReporterGenerator.UserData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ReportsGenerator.Settings.ReporterSettings>
            <setting name="DirrectoryForEmails" serializeAs="String">
                <value>MoodleReporter</value>
            </setting>
            <setting name="CsvEncoding" serializeAs="String">
                <value>Windows-1251</value>
            </setting>
            <setting name="CsvDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="DateFormatForFolderName" serializeAs="String">
                <value>yyyy-MM-dd HH.mm.ss</value>
            </setting>
            <setting name="EmailName" serializeAs="String">
                <value>{0}-{1}</value>
            </setting>
        </ReportsGenerator.Settings.ReporterSettings>
        <ReportsGenerator.Settings.GenerationSetting>
            <setting name="CC" serializeAs="String">
                <value />
            </setting>
            <setting name="TableTitle" serializeAs="String">
                <value>Результаты {0}-й недели обучения по курсу "{1}"</value>
            </setting>
            <setting name="FioColumnTite" serializeAs="String">
                <value>ФИО</value>
            </setting>
            <setting name="InstitutionColumnTitle" serializeAs="String">
                <value>Учреждение  (Организация)</value>
            </setting>
            <setting name="PassedColumnStyle" serializeAs="String">
                <value>"ИО"="background-color:#ffeeee;"&amp;"Продажи"="background-color:#fff888;"</value>
            </setting>
            <setting name="PassedGradeRowStyle" serializeAs="String">
                <value>color:brown;font-weight:bold;</value>
            </setting>
            <setting name="PassedGradeRowHeader" serializeAs="String">
                <value>Проходной балл</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>0.00</value>
            </setting>
            <setting name="AVGbyInstitutionRowStyle" serializeAs="String">
                <value>font-weight:bold;</value>
            </setting>
            <setting name="AVGbyInstitutionRowHeader" serializeAs="String">
                <value>Среднее по РИЦ</value>
            </setting>
            <setting name="AVGbyInstitutionsRowStyle" serializeAs="String">
                <value>font-weight:bold;color:red;display:none;</value>
            </setting>
            <setting name="AVGbyInstitutionsRowHeader" serializeAs="String">
                <value>Среднее по всем РИЦам</value>
            </setting>
            <setting name="ProgressRowStyle" serializeAs="String">
                <value>font-weight:bold;</value>
            </setting>
            <setting name="ProgressRowHeader" serializeAs="String">
                <value>Процент успевающих</value>
            </setting>
            <setting name="GradesRowsStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>[Edu] результаты обучения сотрудников вашего РИЦ за период обучения с {0} по {1} года</value>
            </setting>
            <setting name="TagToTablesPaste" serializeAs="String">
                <value>{{tables}}</value>
            </setting>
            <setting name="TagToWelcomePaste" serializeAs="String">
                <value>{{welcome}}</value>
            </setting>
            <setting name="Welcome" serializeAs="String">
                <value>Уважаем{0} {1}</value>
            </setting>
            <setting name="WelcomeMalePostfix" serializeAs="String">
                <value>ый</value>
            </setting>
            <setting name="WelcomeFemalePostfix" serializeAs="String">
                <value>ая</value>
            </setting>
            <setting name="TableStyle" serializeAs="String">
                <value>margin: 10px; border-collapse: collapse; border: 2px solid dimgray;</value>
            </setting>
            <setting name="CaptionStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="HeadersColumnsStyle" serializeAs="String">
                <value>font-weight:bold;text-align: center;</value>
            </setting>
            <setting name="CellStyle" serializeAs="String">
                <value>padding:5px;</value>
            </setting>
            <setting name="PatternToCheckDirection" serializeAs="String">
                <value>^{0} .*</value>
            </setting>
            <setting name="CuratorsRoles" serializeAs="String">
                <value>4,9</value>
            </setting>
            <setting name="BadGradeStyle" serializeAs="String">
                <value>background-color: #ffcccc;</value>
            </setting>
            <setting name="MaxByInstitutionsRowStyle" serializeAs="String">
                <value>color:green;font-weight:bold;</value>
            </setting>
            <setting name="MaxByInstitutionsRowHeader" serializeAs="String">
                <value>Максимальный балл по РИЦам</value>
            </setting>
        </ReportsGenerator.Settings.GenerationSetting>
        <ReportsGenerator.ReporterSettings>
            <setting name="AccuracyGrades" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DirrectoryForEmails" serializeAs="String">
                <value>MoodleReporter</value>
            </setting>
            <setting name="CsvEncoding" serializeAs="String">
                <value>Windows-1251</value>
            </setting>
            <setting name="CsvDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
        </ReportsGenerator.ReporterSettings>
        <ReportsGenerator.Settings>
            <setting name="AccuracyGrades" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DirrectoryForEmails" serializeAs="String">
                <value>MoodleReporter</value>
            </setting>
            <setting name="CsvEncoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="CsvDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
        </ReportsGenerator.Settings>
        <ReporterGeneration.Settings>
            <setting name="AccuracyGrades" serializeAs="String">
                <value>2</value>
            </setting>
        </ReporterGeneration.Settings>
    </userSettings>
</configuration>